/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.App {
  font-family: "IBM Plex Sana Thai Looped",sans-serif;
  display: flex;
}
.body_container{
  flex: 1;
  background-color: brown;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
}

/* @media screen and (max-width: 600px){
  .App{
    display: flex;
    flex-direction: column;
  }
  .body_container{
    height: 60%;
    background-color: black;
  }
} */


